body {
  margin: 0;
  font-family: fantasy;
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border-radius: 5px 5px 0 0;
}

button {
  background-color: #eed08c;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
 p {
  padding: 0.5rem;
 }

 h3 {
  padding: 1rem;
 }

.column {
  float: left;
  min-width: 20%;
  max-width: 50%;
  padding: 2rem;
  column-gap: 2rem;
}

.item-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color:rgba(250, 234, 207, 1);
  background-color: rgba(175, 153, 113, 0.8);
  transition: 0.3s;
  border-radius: 5px;
  padding: 16px;
  min-height: 24rem;
  width: 12rem;
}

.cart-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color:rgba(175, 153, 113, 1);
  background-color:rgba(250, 234, 207, 0.8);
  transition: 0.3s;
  border-radius: 5px;
  padding: 16px;
  min-height: 15rem;
  width: 20rem;
}

/* On mouse-over, add a deeper shadow */
.item-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.item-container {
  padding: 2px 16px;
}

/* Add some padding inside the cart container */
.cart-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 16px;
}